# 1) Test for increase in sales after DM

In [22]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
sales_data=pd.read_csv(r"C:\Users\Tejes\Downloads\Sales_add.csv")
sales_data.head(10)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735

In [4]:
sales_data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [25]:
avg_bf_dm=sales_data["Sales_before_digital_add(in $)"].mean()
avg_bf_dm

149239.95454545456

In [26]:
avg_af_dm=sales_data["Sales_After_digital_add(in $)"].mean()
avg_af_dm

231123.72727272726

In [21]:
ttest,pval = ttest_ind(sales_data["Sales_before_digital_add(in $)"],sales_data["Sales_After_digital_add(in $)"])
print(pval)
print("\n")
if pval<0.05:
    print("There is significant increase in sales, so we reject the null hypothesis (H0)")
else:
    print("There is no significant increase in sales, so we fail to reject the null hypothesis (HO)")

2.614368006904645e-16


There is significant increase in sales, so we reject the null hypothesis (H0)

 # 2) Check Dependency for Region and Manager

In [ ]:
# H0: Region and Manager are independent
# H1: Region and Manager are not independent

In [20]:
from scipy.stats import chi2_contingency
nw_tab=pd.crosstab(sales_data["Region"],sales_data["Manager"],normalize='index')

stats,pval,Dof,expected=chi2_contingency(nw_tab)
print("Chi Square Statiistics: ",stats)
print("P value:                ",pval)
print("Deg of Freedom:         ",Dof)
print("\n")
if pval<0.5:
    print("We fail to accept the null hypothesis, so Region and Manager are not Independent ")
else:
    print("We fail to reject the null hypothesis, so Region and Manager are Independent")

Chi Square Statiistics:  0.5097129666190809
P value:                 0.9725485584250712
Deg of Freedom:          4


We fail to reject the null hypothesis, so Region and Manager are Independent